<div  class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
          <h1 class="text-gray">食べるは楽しい！！</h1>
          <h2 class="text-gray">まだ知らない発見をここで</h2>
        </div>
      </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="main">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-4">
        <%= link_to 'お店を紹介したい方の新規登録', '/shop_users/new', class: 'btn square_btn' %>
      </div>
      <div class="col-md-4">
        <%= link_to 'ユーザーの新規登録', '/users/new', class: 'btn square_btn' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-4">
        <%= link_to 'お店を紹介したい方のログイン', '/shop_user_sessions/new', class: 'btn square_btn' %>
      </div>
      <div class="col-md-4">
        <%= link_to 'ユーザーのログイン', '/login', class: 'btn square_btn' %>
      </div>
    </div>
    </div>
  </div>
